* text=auto eol=lf

# Archives
*.gz binary
*.zip binary
*.tar binary
*.tgz binary
*.7z binary

# Binaries & libs
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.a binary
*.o binary
*.rlib binary
*.pdb binary
*.wasm binary
