# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.tmp
*.log

# Go outputs
/go/bin/

# Rust outputs
/rust/target/

# Common binaries
**/*.exe
**/*.pdb
**/*.dll
**/*.so
**/*.dylib
**/*.a
**/*.o
